MONGODB_URI='mongodb+srv://bullyproof:bullyproof@bullyproof.h9jaa.mongodb.net/bullyproof?retryWrites=true&w=majority&appName=BullyProof'
APP_NAME=Laravel
APP_ENV=local
APP_KEY=base64:sBC/EG4PFByy9cXILGbqhKDMtByEig+5xN5Rq8LntG8=
APP_DEBUG=true
APP_TIMEZONE=UTC
APP_URL=http://localhost

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

# DB_CONNECTION=mongodb
# DB_HOST=127.0.0.1
# DB_PORT=27017 
# DB_DATABASE=bullyproof
# DB_USERNAME=bullyproof
# DB_PASSWORD=bullyproof

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
CACHE_PREFIX=

MEMCACHED_HOST=127.0.0.1

REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=bullyproofumak.backend@gmail.com
MAIL_PASSWORD=ssuswmwqkkqcmlhu
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS="bullyproofumak.backend@gmail.com"
MAIL_FROM_NAME="Prefect of Student Discipline"

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

VITE_APP_NAME="${APP_NAME}"

PYTHON_PATH="C:\\Program Files\\Python313\\python.exe"

